<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:insert="site/fragmentHeader :: head">
	<title>Cinema ASDN</title>
</head>
<body class="body">
	
	<!-- header -->
	<header th:insert="site/fragmentHeader :: header"></header>
	<!-- end header -->

	<!-- details -->
	<section class="section details">
		<!-- details background -->
		<div class="details__bg" data-bg="/static/site/img/home/home__bg.jpg"></div>
		<!-- end details background -->

		<!-- details content -->
		<div class="container">
			<div class="row" th:object="${getFilm}">
				<!-- title -->
				<div class="col-12">
					<h1 class="details__title" th:text="*{name}"></h1>
				</div>
				<!-- end title -->

				<!-- content -->
				<div class="col-12 col-xl-6">
					<div class="card card--details">
						<div class="row">
							<!-- card cover -->
							<div class="col-12 col-sm-4 col-md-4 col-lg-3 col-xl-5">
								<div class="card__cover">
									<img th:src="@{/static/img/{pn}(pn=*{photoName})}" alt="" width="208px" height="329px">
								</div>
							</div>
							<!-- end card cover -->

							<!-- card content -->
							<div class="col-12 col-sm-8 col-md-8 col-lg-9 col-xl-7">
								<div class="card__content">
									<div class="card__wrap">
										<div>
											<span class="card__rate"><i class="icon ion-ios-star"></i></span>
											<span class="card__rate" th:text="*{rating}"></span>
										</div>

										<ul class="card__list">
											<li th:text="*{quality}"></li>
											<li>16+</li>
										</ul>
									</div>

									<ul class="card__meta">
										<li>
											<span>Genre:</span>
											<div th:each="gen : *{genre}" style="padding-right: 0.5rem">
												<a th:text="${gen}"></a>
											</div>
										</li>
										<li><span class="card__rate"><i class="far fa-calendar-alt"></i></span><span>Release year:</span> <span th:text="*{releaseDate}"></span></li>
										<li><span class="card__rate"><i class="far fa-clock"></i></span><span>Running time:</span> <span th:text="*{runningTime}"></span></li>
										<li><span class="card__rate"><i class="fas fa-map-marked"></i></span><span>Country:</span> <span th:text="*{country}"></span></li>
										<li>
											<span>Available in:</span>
											<div th:each="cin : *{cinema}" style="padding-right: 0.5rem">
												<a th:text="${cin.name}"></a>
											</div>
										</li>
										<li><span class="card__rate"><i class="icon fas fa-money-bill"></i></span><span>Price:</span> <span th:text="*{price}"></span></li>
									</ul>

									<div class="card__description card__description--details">
										<p th:text="*{description}"></p>
									</div>
								</div>
							</div>
							<!-- end card content -->
						</div>
					</div>
				</div>
				<!-- end content -->

				<!-- player -->
				<div class="col-12 col-xl-6">
					<div id="player" data-plyr-provider="youtube" th:data-plyr-embed-id="*{videoURL}"></div>
				</div>
				<!-- end player -->
			</div>
		</div>
		<!-- end details content -->
	</section>
	<!-- end details -->

	<!-- JS -->
	<script src="/static/site/js/jquery-3.3.1.min.js"></script>
	<script src="/static/site/js/bootstrap.bundle.min.js"></script>
	<script src="/static/site/js/owl.carousel.min.js"></script>
	<script src="/static/site/js/jquery.mousewheel.min.js"></script>
	<script src="/static/site/js/jquery.mCustomScrollbar.min.js"></script>
	<script src="/static/site/js/wNumb.js"></script>
	<script src="/static/site/js/nouislider.min.js"></script>
	<script src="/static/site/js/plyr.min.js"></script>
	<script src="/static/site/js/jquery.morelines.min.js"></script>
	<script src="/static/site/js/photoswipe.min.js"></script>
	<script src="/static/site/js/photoswipe-ui-default.min.js"></script>
	<script src="/static/site/js/main.js"></script>
	<link href="/static/dashboard/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
</body>

</html>