<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:fragment="head">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Font -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600%7CUbuntu:300,400,500,700" rel="stylesheet">

    <!-- CSS -->
    <link rel="stylesheet" href="/static/site/css/bootstrap-reboot.min.css">
    <link rel="stylesheet" href="/static/site/css/bootstrap-grid.min.css">
    <link rel="stylesheet" href="/static/site/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/static/site/css/jquery.mCustomScrollbar.min.css">
    <link rel="stylesheet" href="/static/site/css/nouislider.min.css">
    <link rel="stylesheet" href="/static/site/css/ionicons.min.css">
    <link rel="stylesheet" href="/static/site/css/plyr.css">
    <link rel="stylesheet" href="/static/site/css/photoswipe.css">
    <link rel="stylesheet" href="/static/site/css/default-skin.css">
    <link rel="stylesheet" href="/static/site/css/main.css">
    <link href="/static/dashboard/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">

    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="Rusu Cristian">
</head>
<body>
<header class="header" th:fragment="header">
    <div class="header__wrap">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="header__content">
                        <!-- header logo -->
                        <a href="/" class="header__logo">
                            <img src="/static/img/logo.png" alt="">
                        </a>
                        <!-- end header logo -->

                        <!-- header nav -->
                        <ul class="header__nav">
                            <!-- dropdown -->
                            <li class="header__nav-item">
                                <a href="/cinemalist" class="header__nav-link">Cinema list</a>
                            </li>

                            <li class="header__nav-item">
                                <a href="/films" class="header__nav-link">Films</a>
                            </li>
                            <!-- end dropdown -->

                            <li class="header__nav-item">
                                <a href="/about" class="header__nav-link">About</a>
                            </li>
                        </ul>
                        <!-- end header nav -->

                        <!-- header auth -->
                        <div class="header__auth">
                            <button class="header__search-btn" type="button">
                                <i class="icon ion-ios-search"></i>
                            </button>

                            <a href="/signin" class="header__sign-in" sec:authorize="isAnonymous()">
                                <i class="icon ion-ios-log-in"></i>
                                <span>sign in</span>
                            </a>

                            <a href="/admin" class="header__sign-in" sec:authorize="isAuthenticated()">
                                <i class="icon ion-ios-log-in"></i>
                                <span>admin</span>
                            </a>
                        </div>
                        <!-- end header auth -->
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- header search -->
    <form action="#" class="header__search">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="header__search-content">
                        <input type="text" placeholder="Search for a movie, TV Series that you are looking for">

                        <button type="button">search</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <!-- end header search -->
</header>
<!-- end header -->
</body>
</html>